<!Doctype HTML>
<html>
    <head>
        <title>To The Few</title>
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/public/libs/angular-datepicker/dist/angular-datepicker.min.css">
        <link rel="stylesheet" href="/public/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/app.css">
    </head>
    <body>

        JWT: <span id="jwt"></span><br />
        <input id="username" type="text" /><br />
        <input id="password" type="text" /><br />
        <button id="login">Log in</button><br />

        Position: <span id="jwt"></span><br />
        <input id="lat" type="text" /><br />
        <input id="long" type="text" /><br />
        <button id="updatePosition">Update Position</button><br />

        Friends:<br />
        <ul id="friends"></ul>
        <button id="getNearest">Get Nearest</button><br />

        <script type="text/javascript" src="/public/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/libs/moment/moment.js"></script>
        <script type="text/javascript" src="/public/js/app.js"></script>
    </body>
</html>
