<!Doctype HTML>
<html>
    <head>
        <title>Chatsplosion</title>
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/public/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/app.css">
    </head>
    <body>

        <div id="alert" class="alert" style="display:none;">
            <p>This stores you access token in local storage, and requires access to your location in order to support the apps functionality.</p>
            <button id="dismiss">Dismiss</button>
        </div>

        <div id="login">
            JWT: <span id="jwt"></span><br />
            <input id="username" type="text" autocomplete="false"/><br />
            <input id="password" type="password" autocomplete="false"/><br />
            <button id="login">Log in</button><br />
        </div>

        <div id="logout" style="display:none;">
            <button id="logout">Logout</button>
        </div>

        Position: <span id="jwt"></span><br />
        <input id="lat" type="text" /><br />
        <input id="long" type="text" /><br />
        <input id="status" type="text" value="active"/><br />
        <button id="update">Update</button><br />

        Friends:<br />
        <ul id="friends"></ul>
        <button id="fit" style="display:none;">Fit</button><br />
        <div id="googleMap" style="width:100%;height:250px;"></div>
        <button id="getNearest">Get Nearest</button><br />


        <script type="text/javascript" src="/public/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="/public/js/app.js"></script>
    </body>
</html>
